<%= form_with model: @manga, class: "form-horizontal", local: true do |form| %>
  <% if @manga.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@manga.errors.count, "error") %> prohibited
        this manga from being saved:
      </h2>
      <ul>
        <% @manga.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :mal_id, "Ingrese ID", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :mal_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :m_type, "Tipo", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :m_type, class: "form-control" %>
    </div>
  </div>

  

  <%= link_to 'Volver', mangas_path, class: "btn btn-default" %>
  <%= form.submit "Upload", class: "btn btn-primary" %>
<% end %>