<h1>Manga list</h1>

<%= link_to 'Nuevo Manga', new_manga_path %>

<br>
<br>
<br>

<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Mangas Reviewed</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Sign Up To Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @mangas.each do |manga| %>
    <div class="col-sm-6 col-md-3">
	  <div class="thumbnail" style="min-height: 400px;">
		<img class="img" style="max-height: 310px;" src=<%= manga.img %> alt="Pic not availible :c">
		<h3><%= manga.title %></h3>
		<p>
			<%= link_to 'Detalles', manga_path(manga) %>
			<%= link_to 'Editar', edit_manga_path(manga) %>
		</p>
       </div>
    </div>
  <% end %>
</div>

<br>

<% if !@results.nil? %>
<h1>Anime Web Search</h1>
	<div class="row">
		<% @results.each do |result| %>
			<div class="col-sm-6 col-md-3">
			<div class="thumbnail" style="min-height: 400px;">
			<img class="img" style="max-height: 310px;" src=<%= result.image %> alt="Pic not availible :c">
			<h3><%= result.title %></h3>
			<p>
				<%= link_to 'Detalles', manga_path(result) %>
			</p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>