<div class="row">
	<div class="col-sm-12 col-md-6">
			<h1>Your Mangas</h1>

	</div>

	<div class="col-sm-12 col-md-6">
			<%= form_tag({controller: "mangas", action: "index"}, method: "get", class: "navbar-form navbar-right", role: "search") do %>
				<p>
					<%= text_field_tag :search, params[:search], class: "form-control", :placeholder => "Search here" %>
					<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
				</p>
			<% end %>
	</div>
</div>

<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Mangas Reviewed</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Sign Up To Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @mangas.each do |manga| %>
    <div class="col-sm-6 col-md-3">
	  <div class="thumbnail" style="min-height: 400px;">
		<img class="img" style="max-height: 310px;" src=<%= manga.img %> alt="Pic not availible :c">
		<h3><%= manga.title %></h3>
		<p>
			<%= link_to 'Detalles', manga_path(manga) %>
			<%= link_to 'Editar', edit_manga_path(manga) %>
		</p>
       </div>
    </div>
  <% end %>
</div>

<br>

<% if !@results.nil? %>
<h1>Anime Web Search</h1>
	<div class="row">
		<% @results.each do |result| %>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail" style="min-height: 400px;">
					<img class="img" style="max-height: 310px;" src=<%= result.image %> alt="Pic not availible :c">
					<h4><%= result.title %></h4>
					<h5>Type: <%= result.type %></h5>
					<p><%= link_to 'Details', manga_path(result) %></p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>