<div class="row">
	<div class="col-sm-12 col-md-6">
			<h1>Your Mangas</h1>

	</div>

	<div class="col-sm-12 col-md-6">
			<%= form_tag({controller: "mangas", action: "index"}, method: "get", class: "navbar-form navbar-right", role: "search") do %>
				<p>
					<%= text_field_tag :search, params[:search], class: "form-control", :placeholder => "Search here" %>
					<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
				</p>
			<% end %>
	</div>
</div>

<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Mangas Reviewed!</h1>
    <p>Sign up and start reviewing your stuff. New updates everyweek! XOXO</p>
    <p><%= link_to "Sign Up To Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>



<% if @mangas.class == NilClass %>
  <div class="jumbotron">
    <h2>You dont have any series!</h2>
		<p>To add series to your collection click on the "New Serie" button below:</p>
    <p><%= link_to "New Serie", new_manga_path, class: "active", class: "btn btn-primary btn-lg" %></p>
	</div>

<% elsif @mangas.class == Manga %>
	<div class="row">
			<div class="col-sm-6 col-md-3">
			<div class="thumbnail" style="min-height: 400px;">
			<img class="img" style="max-height: 310px;" src=<%= @mangas.img %> alt="Pic not availible :c">
			<h3><%= @mangas.title %></h3>
			<p>
				<%= link_to 'Detalles', manga_path(@mangas) %>
			</p>
				</div>
			</div>
	</div>

<% else %>
	<div class="row">
		<% @mangas.each do |manga| %>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail" style="min-height: 400px;">
					<img class="img" style="max-height: 310px;" src=<%= manga.img %> alt="Pic not availible :c">
					<h3><%= manga.title %></h3>
					<p>
						<%= link_to 'Detalles', manga_path(manga) %>
					</p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<br>


<% if !@results.nil? %>
	<h1><%= @type[1] %> web search:</h1>
	<div class="row">
		<% @results.each do |result| %>
			<div class="col-sm-6 col-md-3">
			<% if @results[0].class == Array || Hash %>
				<div class="thumbnail" style="min-height: 400px;">
					<% if result['image_url'].include? "questionmark_23.gif" %>
					<img class="img" style="max-height: 310px;" src="https://ih0.redbubble.net/image.467181592.3447/flat,1000x1000,075,f.u2.jpg">
					<p>Pic not availible >:t</p>
					<% else %>
					<img class="img" style="max-height: 310px;" src=<%= result['image_url'] %> alt="Pic not availible :c">
					<% end %>
					<h4><%= result['name'] %></h4>
				</div>
			<% else %>
			<div class="thumbnail" style="min-height: 400px;">
				<img class="img" style="max-height: 310px;" src=<%= result.image %> alt="Pic not availible :c">
				<h4><%= result.title %></h4>
				<h5>Type: <%= result.type %></h5>
				<p><%= link_to 'Details', manga_path(result) %></p>
			</div>

			<% end %>
			</div>
		<% end %>
	</div>
<% end %>