<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src=<%= @mal_info.image %> style="display: block; width: 300px; margin-left: auto; margin-right: auto;" alt="Pic not availible :c">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>English:</strong></td>
                <td><%= @mal_info.title_en %></td>
              </tr>
              <tr>
                <td><strong>Japanese:</strong></td>
                <td><%= @mal_info.raw['title_japanese'] %></td>
              </tr>
              <tr>
                <td><strong>Score:</strong></td>
                <td><%= @mal_info.score %> (<%= @mal_info.raw['scored_by'] %> voters) </td>
              </tr>
              <% if @mal_info.type == "Manga" %>
              <tr>
                <td><strong>Author(s):</strong></td>
                <td>
                  <% @mal_info.author.each do |author| %>
                    <p><%= author['title'] %></p>
                  <% end %>
                </td>
              </tr>
              <% end %>

              <tr>
                <td><strong>Ranking:</strong></td>
                <td><%= @mal_info.raw['rank'] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container">
        <div class="col-md-8">
          <h1><%= @mal_info.title %></h1>
          <h2>Type: <%= @mal_info.type %></h2>
          <h4>genre(s): 
          <% @mal_info.genre.each do |genero| %>
            <%= genero['name'] %> 
          <% end %>
          </h4>
          <% if @avg_review > 0 %>
            <h4>Local Rating: <%= @avg_review %></h4>
            <em><% "(from #{@reviews.length} reviews)" %></em>
          <% end %>
          <h4>Status: <%= @mal_info.status %></h4>
          <% if @mal_info.type != "Manga" and @mal_info.raw['trailer_url'] != nil %>
            <iframe width="100%" height="400" src="<%= @mal_info.raw['trailer_url']+'&showinfo=0&rel=0' %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% end %>

          <p><%= @mal_info.synopsis %></p>
          <%= link_to 'Volver', mangas_path, class: "btn btn-default" %>
          <%= link_to 'Ver Más', @mal_info.link, class: "btn btn-info" %> 
          <%= link_to 'Editar', edit_manga_path(@manga), class: "btn btn-warning" %> 
          <%= link_to 'Borrar', manga_path(@manga),
                method: :delete,
                data: { confirm: 'Nigga u sure?' }, class: "btn btn-danger" %> 
        
        
          <% if @reviews.blank? %>
            <h3>No reviews just yet! would you like to add the first? 1313</h3>
            <%= link_to "Write a Review", new_manga_review_path(@manga), class: "btn btn-danger" %>
          <% else %>
            <h2>Reviews:</h2>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <h3><%= review.rating %> Stars:</h3>
                <h4><%= review.comment %></h4>
              </div>
            <% end %>
            <%= link_to "Write a Review", new_manga_review_path(@manga), class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @related.count != 0 %>
  <h1>Related Series</h1>
  <div class="row">
    <% @related.keys.each do |k| %>
      <h2><%= k %></h2>
      <h4><%= link_to @related[k][0]['title'], @related[k][0]["url"] %> (<%= @related[k][0]["type"] %>)</h4>
    <% end %>
  </div>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>"
<script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
          return $(this).attr('data-score')
        }
      });
</script>