<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src=<%= @mal_info.image %> style="display: block; width: 300px; margin-left: auto; margin-right: auto;" alt="Pic not availible :c">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>English:</strong></td>
                <td><%= @mal_info.title_en %></td>
              </tr>
              <tr>
                <td><strong>Japanese:</strong></td>
                <td><%= @mal_info.raw['title_japanese'] %></td>
              </tr>
              <tr>
                <td><strong>Score:</strong></td>
                <td><%= @mal_info.score %> (<%= @mal_info.raw['scored_by'] %> voters) </td>
              </tr>
              <tr>
                <td><strong>Author(s):</strong></td>
                <td>
                  <% @mal_info.author.each do |author| %>
                    <p><%= author['title'] %></p>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>Ranking:</strong></td>
                <td><%= @mal_info.raw['rank'] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <h1><%= @mal_info.title %> (<%= @mal_info.type %>)</h1>
        <h4>genre(s): 
          <% @mal_info.genre.each do |genero| %>
            <%= genero['name'] %> 
          <% end %>
        </h4>
        <h4>Status: <%= @mal_info.status %></h4>
        <p><%= @mal_info.synopsis %></p>
        <%= link_to 'Ver Más', @mal_info.link %> 
        <%= link_to 'Editar', edit_manga_path(@manga) %> 
        <%= link_to 'Borrar', manga_path(@manga),
              method: :delete,
              data: { confirm: 'Nigga u sure?' } %> 
        <%= link_to 'Volver', mangas_path %>

      </div>
    </div>
  </div>
</div>

<h1>Related Series</h1>

<div class="row">
  <% @related.keys.each do |k| %>
    <h2><%= k %></h2>
    <h4><%= link_to @related[k][0]["title"], @related[k][0]["url"] %></h4>
  <% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>